.color-red {
    color: $red !important;
  }
  
  .color-green {
    color: $green !important;
  }
  
  .color-grey {
    color: $light-grey-01 !important;
  }
  
  .color-orange {
    color: $orange !important;
  }